div#gallery_wrapper {
  width: 95%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

/*GALLERY IMAGE STYLING==============================================================*/

div.gallery_row {
  display: inline-flex;
  text-align: left;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
}

div.gallery {
    cursor: pointer;
    margin: 0 2em 2em 0;
    background-color: rgba(0, 0, 0, .80);
    color: white;
    float: left;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div.gallery img {
    opacity: 1;
}

div.img_wrap {
    height: 200px;
}

div.img_wrap img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


div.gallery:hover img {
	opacity: .5;
}

div.desc h1 {
  margin-bottom: 0;
}

div.desc {
    padding: 5px;
    margin-right: 3em;
    text-align: left;
    font-size: 14px;
    max-width: 15%;
}

/*MEDIA QUERIES========================================================================*/

@media screen and (max-width: 980px){
  div.gallery_row {
    display: inline-block;
  }
  div.desc {
    width: 80%;
    max-width: none;
    margin-right: 0;
  }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
