div#gallery_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 140px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div.gallery:hover {
    border: 1px solid purple;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/*MODAL STYLING===========================================================================*/
/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}
.modal_after-open {
  margin: auto;
  vertical-align: middle;
}
img.modal_image{
  width: 50%;
  margin: 0 auto !important;
}
#modal_button {
  float: right;
}
/*MEDIA QUERIES========================================================================*/

@media screen and (max-width: 980px){
  div#gallery_wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
