div#gallery_wrapper {
  width: 57%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 140px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div.gallery:hover {
    border: 2px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


@media screen and (max-width: 980px){
  div#gallery_wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
