div#rates_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

p.service {
  font-size: 0.9em;
  margin-bottom: 2em;
}

p.service_header {
  font-weight: bold;
}

p.service_header:after {
    content: "";
    position: absolute;
    width: 20em;
    margin-top: 8px;
    border-top: 1px solid black;
}

span.purp {
  color: purple
}

img#bridal_pic {
  margin-top: 1.8em;
  border: 1px solid purple;
}

@media screen and (max-width: 980px){
  div#rates_wrapper {
    width: 95%;
  }
  p#last_p {
    margin-bottom: 20px;
  }
}
