div#rates_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

p.service {
  font-size: 0.9em;
  margin-bottom: 2em;
}

span.service_header {
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}

span.service_header:after {
    content: "";
    position: absolute;
    width: 20em;
    margin-top: 8px;
    border-top: 1px solid black;
}

span.purp {
  color: purple
}

img#bridal_pic {
  margin-top: 1.8em;
  border: 1px solid purple;
}


/*MEDIA QUERIES==================================================================*/
@media screen and (max-width: 1400px){
  div#rates_wrapper {
    width: 95%;
  }
  div#rates_wrapper > .col_1 {
    padding-right: 5px;
  }
  div#rates_wrapper > .col_2 {
    margin-left: 3px;
  }
  p#last_p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  img#bridal_pic {
    display: none;
  }
}
