nav#navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6)
}

nav#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

nav#navbar li {
    float: left;
}

nav#navbar li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    text-align: center;
    padding: 0.6em 3em 0.3em 3em;
    text-decoration: none;
}

nav#navbar li a:hover:not(.selected) {
    color: white
}

nav#navbar a.selected {
    color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 600px){
    nav#navbar ul li {float: none;}
}
