div#contact_wrapper {
  width: 60%;
  margin: auto;
  margin-bottom: 3.09em;
  padding: 3em 0 3em 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

div#contacts_and_gmap_container {
    display: flex;
    padding-bottom: 3em;
}

div#google_map_container {
  height: 400px;
  width: 60%;
  margin: 2em 0em 2em 2em;
}

/*EMAILS AND PHONE SECTION STYLING================================================*/

div#contact_container {
  text-align: left;
  padding: 2em 2em;
  display: flex;
  width: 100%;
  border-top: 1px solid silver;
}
div.section {
  padding: 1em;
  max-width: 400px;
}
div.section_two {
  padding: 1em 2em;
  max-width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
div p.contact_heading {
  font-weight: 700;
}
div.section p {
  margin: 5px;
}
div.section p.contact_email {
  margin-bottom: 12px;
}

.fa.fa-mobile {
  font-size: 20px;
  color: purple;
  margin-right: 8px;
}

.fa.fa-envelope-o {
  font-size: 14px;
  margin-right: 2px;
  color: purple;
}

/*SUBSCRIBE SECTION STYLING=====================================================*/

input#sub_email{
  padding: 0.5em;
  line-height: 19px;
}
input#sign_up {
  cursor: pointer;
  margin-left: 5px;
  padding: 0.79em 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  letter-spacing: 2px;
  -moz-transition:background-color .2s ease-in;
  -o-transition:background-color .2s ease-in;
  -webkit-transition:background-color .2s ease-in;
}
input#sign_up:hover {
    background-color: rgba(0, 0, 0, .9);
}
p#privacy {
  font-size: 12px;
}


/*MEDIA QUERIES==================================================================*/
@media screen and (max-width:1600px) and (min-width:1300px) {
  div#contact_wrapper {
    width: 90%;
  }
  div#contacts_and_gmap_container{
    width: 100%;
    margin-left: 2em;
  }
  div#google_map_container {
    height: 400px;
    width: 80%;
    margin: 2em 0em 2em 0em;
  }
}

@media screen and (max-width: 1300px){
  div#contact_wrapper {
    width: 95%;
    padding: 0;
  }
  div#contacts_and_gmap_container{
    display: block
  }
  div#contact_container {
    text-align: left;
    margin-right: 0;
  }
  div.section {
    padding: 1em 1em;
    max-width: 400px;
  }
  div.section_two {
    border: 0;
    padding: 0;
  }
  div#google_map_container {
    height: 300px;
    margin: 1em auto;
  }
}

@media screen and (max-width: 600px) {
  div#google_map_container {
    margin-left: 0;
  }
  div.section {
    padding-left: 0;
  }
  div.section_two {
    border-top: 1px solid black;
  }
  div#g_map {
    width: 400px!important;
  }
  div#contact_container {
    text-align: left;
    margin-right: 0;
    padding: 0;
    border-bottom: 1px solid black;
    display: block;
  }
}
