div#contact_wrapper {
  width: 55%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

div#contact_container {
  float: left;
  text-align: left;
  margin-right: 5em;
}

div#google_map_container {
  height: 300px;
  width: 800px;
}
