#footer {
   flex: 0 0 auto;
   margin-top: 3em;
}

div#footer_wrapper {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
}

a#link_to_top {
  margin-left: 2em;
  color: purple;
}
