div#home_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

/*COL_1 STYLING============================================================*/

div.col_1 {
  text-align: left;
  position: relative;
  width: 60%;
  padding-right: 3em;
  border-right: 1px solid silver;
  float: left;
}

/*COL_2 STYLING============================================================*/

div.col_2 {
  width: 31%;
  float: left;
  margin-left: 2em;
  text-align: left;
}


/*MOBILE QUERY===================================================================*/

@media screen and (max-width: 600px){
  div.col_1 {
    width: 100%;
    display: inline-block;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid white;
  }

  div.col_2 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
