div#home_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

div#home_pics {
  position: relative
}

img#salon_main {
  position: absolute;
  border: 1px solid black;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

img#salon_main:hover {
  opacity:0;
}


@media screen and (max-width: 980px){
  div#home_wrapper {
    width: 95%;
  }
  img#salon_main {
    max-height: 300px;
    position: relative;
  }
  img#salon_main_2 {
    display: none;
  }
}
