div#home_wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 5em;
  border-bottom: 1px solid silver;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

img#salon_main {
  border: 1px solid black;
  max-width: 100%;
  height: auto
}


@media screen and (max-width: 980px){
  div#home_wrapper {
    width: 95%;
  }
  img#salon_main {
    max-height: 300px;
  }
}
