.App {
  text-align: center;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: black;
}

.App-header > h1 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin: 10px;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 5px;
}

.App-intro {
  font-size: large;
}

div#content_wrapper {
  width: 100%;
  opacity: 0.8;
  background-color: #EFBBCC;
  padding: 1em 0 1em 0;
}
