.App {
  text-align: center;
}

.App-header {
  height: 220px;
  padding: 20px;
  color: white;
}

.App-header > h1 {
  text-transform: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 10px;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 5px;
}

.App-header > h2 {
  text-transform: none;
  font-family: 'Lato', sans-serif;
  margin: 10px;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 6px;
}

span.pink {
  color: pink;
}

button#make_appt {
  margin-top: 1em;
  padding: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  border: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #FDDDE6;
  color: black;
  cursor: pointer;
}

button#make_appt:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.App-intro {
  font-size: large;
}

div#content_wrapper {
  width: 100%;
  opacity: 0.95;
  background-color: #EFBBCC;
  padding: 1em 0 1em 0;
  flex: 1 0 auto;
}

/*COL_1 STYLING============================================================*/

div.col_1 {
  text-align: left;
  position: relative;
  width: 65%;
  padding-right: 3em;
  border-right: 1px solid silver;
  float: left;
}

/*COL_2 STYLING============================================================*/

div.col_2 {
  width: 25%;
  float: left;
  margin-left: 2em;
  text-align: left;
  font-size: 14px;
}

/*COL_3 STYLING============================================================*/

div.col_3 {
  width: 95%;
  float: left;
  margin-left: 2em;
}



/*MOBILE QUERY===================================================================*/

@media screen and (max-width: 1400px){
  div.col_1 {
    width: 100%;
    display: inline-block;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid white;
  }

  div.col_2 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
