.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

div#content_wrapper {
  width: 100%;
  opacity: 0.8;
  background-color: white;
  padding: 1em 0 1em 0;
}
