.App {
  text-align: center;
}

.App-header {
  height: 220px;
  padding: 20px;
  color: white;
}

.App-header > h1 {
  text-transform: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 10px;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 5px;
}

span.pink {
  color: pink;
}

button#make_appt {
  margin-top: 1em;
  padding: 1em;
  font-family: 'Lato', sans-serif;
}

.App-intro {
  font-size: large;
}

div#content_wrapper {
  width: 100%;
  opacity: 0.9;
  background-color: #EFBBCC;
  padding: 1em 0 1em 0;
}
